<form  method="get" action="{% url "pinch:pinch" %}" >
<input type="submit" />
<table border="1" style="overflow-x: auto;">
    {% for row in table %}
        <tr>
            {% for el in row %}
                <td style="min-width: 200px;">{% if el.obj %}<b><input type="checkbox" checked="checked" name="{% widthratio forloop.counter 1 100 %}_{{ el.obj.pk }}" /> {{ el.obj.text }}</b>{% else %}
                    {% if el %}<b>{{ el.1 }}: </b>
                        {% for e in el.0 %}
                            <input type="checkbox" name="{{ e.1 }}_{{ e.0.pk }}" /> {{ e.0.text }}<br>
                        {%  empty %}
                            direct
                        {% endfor %}
                        {% endif %}
                    {% endif %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
</form>