<html>
<body>
<table>

    {% for p in prog %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{% if p.path %}<a href="{% url "viewnode" path=p.path %}">{% else %}<a href="{% url "root" %}">{% endif %}{{ p.text.text }}</a></td>
        <td>{% if p.path and p.count < 50 %}<a href="{% url "cases" path=p.path %}">{{ p.count }}</a>{% else %}{{ p.count }}{% endif %}</td>
    </tr>
    {% endfor %}
</table>

<table>
<tr>
    <th>label</th>
    <th># cases</th>
</tr>
{% for node in nodes %}
<tr>
<td><a href="{% url "viewnode" path=path %}{{ node.db.pk }}">{{ node.db.text }}</a></td>
<td>{{ node.count }}</td>
<td>{{ node.graph }}</td>
</tr>
{% endfor %}
<tr>
    <td>total:</td>
    <th>{{ total }}</th>
</tr>
<tr>
    <td>end:</td>
    <th>{{ ended }}</th>
</tr>
</table>

decision nodes below: {{ tree_size }}

<h3>skips</h3>
{% for sk in skips %}
    skip: {{ sk.item }}
{% endfor %}

<h3>merges</h3>
{% for m in merges %}
    use: {{ m.item }}<br/>for
    <ul>
    {% for e in m.equals.all %}
        <li>{{ e.text }}</li>
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>