<html>
<body>
<table>

    {% for p in prog %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{% if p.path %}<a href="{% url "viewnode" path=p.path %}">{% else %}<a href="{% url "root" %}">{% endif %}{{ p.text.text }}</a></td>
        <td>{% if p.path and p.count < 50 %}<a href="{% url "cases" path=p.path %}">{{ p.count }}</a>{% else %}{{ p.count }}{% endif %}</td>
    </tr>
    {% endfor %}
</table>

<form method="post">
{% csrf_token %}
<table>
<tr>
    <th></th>
    <th>label</th>
    <th># cases</th>
</tr>
{% for node in nodes %}
<tr>
<td>{{ node.field }}</td>
<td><input type="submit" name="merge_{{ node.db.pk }}" value="merge" /></td>
<td><a href="{% url "viewnode" path=path %}{{ node.db.pk }}">{{ node.db.text }}</a></td>
<td>{{ node.count }}</td>
</tr>
{% endfor %}
<tr>
    <td>total:</td>
    <th>{{ total }}</th>
</tr>
{% if ended > 0 %}
<tr>
    <td>end:</td>
    <th><a href="{% url "cases" path=path %}?ended=1">{{ ended }}</a></th>
</tr>
{% endif %}
</table>
<input type="submit" name="skip" value="skip" />
</form>

<h3>skips</h3>

{% for sk in skips %}
    skip: {{ sk.item }}<br/>
{% endfor %}

<h3>merges</h3>
{% for m in merges %}
    use: {{ m.item }}<br/>also for
    <ul>
    {% for e in m.equals.all %}
        <li>{{ e.text }}</li>
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>